.StorybookExample--primary {
  background-color: #a77;
  color: #fff;
}

.StorybookExample--secondary {
  background-color: #e00;
  color: #fff;
}

.StorybookExample--negative {
  background-color: #0f0;
  color: #fff;
}
